[2017-10-16 14:08] webhive opened #2 "Negative values formatted strange way"
For example -20 formatted as $-20, but on my opinion it should be -$20

[2017-10-17 03:39] mazipan commented on #2
Thanks, will check.
Pull-Request are welcome ya :smile:

[2017-10-17 05:08] mazipan commented on #2
Base on this thread : https://ux.stackexchange.com/questions/1869/preferred-format-to-display-negative-currency-us-english
I agree to implement this changes

[2017-10-17 05:18] mazipan opened #3 "[Demo Page] Not responding when edit separator"
When we trying to edit separator text, unfortunately browser become not responding.
Need to analyze

[2017-10-17 05:20] mazipan opened #4 "Add contribution Guide"
Maybe we need to add contribution guide for help people to contribute.

[2017-10-17 07:23] #3 closed

[2017-10-17 07:23] #2 closed

[2017-10-20 08:10] marshalldanel commented on #4
Hey, I can take a stab at this. Anything specific or just a general guide?

[2017-10-20 10:00] mazipan commented on #4
General guide, + must be creating unit test I think

[2017-10-21 23:38] #4 closed

[2017-11-07 13:01] ayrokid opened #6 "om sepertinya ada bug di symbolSpacing"
Vue.use(VueCurrencyFilter,
    {
        symbol : '$',
        thousandsSeparator: '.',
        fractionCount: 0,
        fractionSeparator: ',',
        symbolPosition: 'front',
        symbolSpacing: false
    }
)

tapi di tampilan filternya masih belum jalan.

![screen shot 2017-11-07 at 7 12 31 pm](https://user-images.githubusercontent.com/5662089/32495000-63c477da-c3f6-11e7-8c90-e4fc48722ce2.

[2017-11-08 02:46] mazipan commented on #6
Closed in new version

[2017-11-08 02:46] #6 closed

[2017-11-16 15:29] sedyshev-a opened #7 "Cannot set thousands separator to '' or ' ' (space)"
Hello!
Can you explain me what this line of code is doing:
`if(!thousandsSeparator || !isNaN(thousandsSeparator)) thousandsSeparator = '.'`

I want to set thousands separator to space (or empty string), but this condition does not allow to do this

[2017-11-16 15:54] mazipan commented on #7
I won't user set `thousandsSeparator` with any number.
If it's number it will set to default.

[2017-11-16 15:56] mazipan commented on #7
I already checked in demo page https://mazipan.github.io/vue-currency-filter/ and work well

[2017-11-16 15:58] mazipan commented on #7
Oh I see,

It is because this code `!thousandsSeparator`
Maybe you can create pull request to delete this line

[2017-11-20 22:49] Scalpel78 commented on #7
We have the same problem, we also want to set thousandSeparator to ' '.

[2017-11-20 22:54] Scalpel78 opened #8 "Symbol should default to empty string, not Rp"
In this line, it would be nice if it didn't default to Rp, but empty string instead.

    let symbol = options.symbol || 'Rp'

[2017-11-21 02:18] #8 closed

[2017-11-21 03:04] #7 closed

[2017-11-29 15:29] oharan opened #9 "Cannot set thousand separator to space"
I'm having a small problem using your filter with French Canadian. French Canadian uses thousand separator of space, but your filter is setting it to the default because it thinks an empty space is a number.

[2017-11-29 15:30] oharan commented on #9
` if(!_isUndefined(thousandsSeparator) && !isNaN(thousandsSeparator)) thousandsSeparator = '.'`

This is the line. If you do !isNaN(parseInt(thousandsSeparator)) it works with a space.

[2017-11-29 20:59] mazipan commented on #9
You can create pull request then, feel free to correcting the code.

[2017-11-30 02:59] #9 closed

[2017-12-22 04:54] xawiers opened #11 "Thousands separator add empty or space word in currency"
[code]

Result is 1empty000.00 Eur instead of wanted 1000.00 Eur

[2017-12-22 06:39] mazipan commented on #11
Can you upgarade version to v.1.4.1 and tell me if something still wrong.
👍

[2017-12-23 09:59] xawiers commented on #11
Nice, much better.
Thanks a lot.

[2017-12-23 10:04] xawiers commented on #11
but after recalculating I get 1 000space100space000.00
when thousand separator is space ' '
same with empty.

Initial is nice output.

[2017-12-23 11:00] mazipan commented on #11
Will check after holiday ya. 👏

[2017-12-23 19:29] mazipan commented on #11
Release fix version in 2.0.1

[2018-01-05 02:35] archSeer opened #12 "Specifying configuration in-place changes global configuration"
[code]

Now amount is formatted in the same way as balance, but it shouldn't be

[2018-01-05 03:22] mazipan commented on #12
Yes, I see.
What do you expected condition @archSeer ?
Is reset to default configuration ?

[2018-01-05 03:23] archSeer commented on #12
Yes, it should always use the default config unless I manually override it for that specific part of the page. Otherwise the display is order dependent (if I refactor the page and rearrange the elements it will suddenly render differently)

[2018-01-05 04:12] mazipan commented on #12
Closed in v2.1.0
Check the demo page here : https://mazipan.github.io/vue-currency-filter/

[2018-01-05 04:12] #12 closed

[2018-03-12 13:07] memic84 opened #13 "Possibility to change global props after init"
I am using VueI18n with three languages, and i cannot change the global props of the CurrencyFilter plugin, when i change a language.

I don't want to put all the config inline for every time i use it, but instead i want to do something like.
`this.$currencyFilter= {}` in my method for changing language.

Is this possible?

This is my code
**main.js**
[code]

I would need to override symbol, thous

[2018-03-15 02:20] mazipan commented on #13
I think it's hard for now, because in `Vue.use` we only using it once.
It only using when initialization for default value.
We can watch any changes in this configuration.
have no idea yet.

But I will keep this issue open, if there is anyone that have good approach.
Thanks anyway @memic84

[2018-04-04 08:36] ndhik opened #14 "Nuxt usage"
I tried to use this as plugin in Nuxt.
I have created `currency.js` under `plugins/` folder.
[code]

and include the script in `nuxt.config.js`
[code]

and inside my component at `components/ProductCard.vue`
[code]

This resulted error as below
[code]

Any workaround how to use this on Nuxt?

[2018-04-04 10:04] mazipan commented on #14
Never tested in Nuxt.js, but let me check it first ya.

Thanks

[2018-04-04 10:17] mazipan commented on #14
When I read from here: https://nuxtjs.org/guide/plugins
You dont need to import again in your component like:
[code]
Because it's plugin, and it will apply as global filter.
Can you help to test it ?

[2018-04-04 10:31] mazipan commented on #14
I have test it, and work like charm.
If you want to see the code, you can check this commit: https://github.com/mazipan/nuxt-blog/commit/59b69e67ca47da973d3c065f57ddecb36ce6da2b

[2018-04-04 15:57] ndhik commented on #14
I did removed this line of code
[code]
and it's still not working.

I think the problem is not how we register the plugin as written at `nuxt.config.js`
but rather when the pipe `{{ priceVar | currency }}` is used in a component.
The number I retrieved still in basic number instead of currency format.

[2018-04-05 06:39] ndhik commented on #14
Yes I did,

I didn't find any implementation of `currency` pipe in any of your components nor pages.

Let me clarify the issue.
I actually registered `currency.js` as your last commit record and it returns no error.
The error comes up when I want to transform a number variable in the html template like this one
[code]

it returns following error in browser console
[code]

And if I take out the pip

[2018-04-06 04:01] mazipan commented on #14
Can you try to clone and run in your local this sample project https://github.com/mazipan/nuxt-blog ?
I have test it, and okay.

[2018-04-30 15:51] Roywcm opened #15 "Values are not well rounded"
Hi,

Rounding values with 3 decimals is not working properly.
When I have a value e.g. 9.075. It round's to 9.07 and not 7.08.

[2018-05-01 07:58] mazipan commented on #15
Can you give me sample configuration that you used @Roywcm ?

[2018-05-01 08:01] Roywcm commented on #15
Actually, it's also accuring in your demo: https://mazipan.github.io/vue-currency-filter/ :)

My configuration is:
[code]

[2018-05-01 08:06] mazipan commented on #15
Has been opened issue in accounting.js

https://github.com/openexchangerates/accounting.js/issues/195

I will help to investigate, is this coming from accounting.js or wrong usage from this library.

[2018-05-03 23:06] mazipan opened #17 "Hosted our own accounting.js"
Since `accounting.js` seems not well maintain by it's creator.
Can we hosted our own `formatMoney` function ?
Maybe we can learn from `accounting.js` do it.

[2018-05-15 10:42] mazipan commented on #15
![screen shot 2018-05-15 at 5 41 57 pm](https://user-images.githubusercontent.com/7221389/40052145-54bb6efa-5867-11e8-9c50-6446921ab8f3.png)

[2018-05-15 10:55] mazipan commented on #15
Close in version **2.1.2**

[2018-05-15 10:55] #15 closed

[2018-05-18 01:11] mazipan opened #18 "Add usage docs in demo page"
Please take a look Vue2-Simplert demo page.

[2018-05-28 06:26] iqbalhood opened #19 "New Logo For vue-currency-filter"
Hallo @mazipan , Saya Iqbal dari Medan. Boleh nggak saya kontribusi ngebuatin logo untuk vue currency filter buatan @mazipan ?

[2018-05-28 14:14] iqbalhood commented on #19
Oke Mas Segera Dibuatkan :) 👍

[2018-05-30 09:36] Sopamo opened #20 "Not usable with SSR since v2.2"
It seems like the switch to webpack 4 made it so that this package doesn't work with Server Side Rendering any more, because in the dist file a window object is inserted, which doesn't exist in node applications.

[2018-05-30 10:31] mazipan commented on #20
Hmmm, I think it's related with `umd` module that I choose ya ?
Will find the solution.

[2018-05-30 13:34] mazipan commented on #20
Can you help me @Sopamo to validated this changes.
You can install newest version.
Hope it will solve this issue.

[2018-05-30 13:35] mazipan opened #21 "Failed run in development"
After upgrading webpack into v4, this repo failed to run script `npm run dev` which used for development environment.

[2018-05-31 13:56] Sopamo commented on #20
Thanks for answering so quickly!
The window issue is gone, but the filter isn't registered at all now. I built a small reproduction for you:

https://codesandbox.io/s/oom7p2y2y9

You can see in the console (in the bottom bar) that the currency filter isn't available.

[2018-05-31 14:16] mazipan commented on #20
Hmmm, embarrassing 😅
I will try to find another solution

[2018-05-31 18:35] benomas commented on #20
"Vue warn]: Failed to resolve filter: currency"
Same error over here

[2018-05-31 21:13] mazipan commented on #20
Please downgrade to 2.2.0 first.
While I tried to find root cause.

[2018-06-01 06:29] mazipan commented on #20
Can you try with version 2.2.4 @Niklv @benomas @Anatolie @Sopamo

https://codesandbox.io/s/xvo87491vw

[2018-06-02 01:28] iqbalhood commented on #19
Hallo @mazipan, Berikut ini adalah logo proposal saya untuk proyek ini , Bila ada  yang perlu diperbaiki atau revisisi mohon diberi tahu.

![vue](https://user-images.githubusercontent.com/1563756/40868801-f678fbd2-663a-11e8-8fc8-ec25876ce215.jpeg)
![vue2](https://user-images.githubusercontent.com/1563756/40868802-f6b3701e-663a-11e8-90ad-044af6489381.jpeg)

[2018-06-02 03:26] mazipan commented on #19
Saya sih gak ada masalah mas, oke kok saya mah.
Yang orange sih keren kayanya mas @iqbalhood.

Cuma minta bantuan ya mas, mungkin minta di provide beberapa versi image kaya PNG dan SVG nya.
Untuk PNG kalo bisa minta ukuran 128, 192 sama 512.

Terima kasih 🙏
Maaf merepotkan 😅

[2018-06-02 03:28] mazipan commented on #21
Closed, this is because wrong set publicPath in webpack config

[2018-06-02 03:28] #21 closed

[2018-06-02 03:29] mazipan commented on #18
Closed, already live in demo page.

[2018-06-02 03:29] #18 closed

[2018-06-02 03:47] iqbalhood commented on #19
Oke mas no problem, Segera dikerjakan :)  Terima kasih Kembali 🙏

[2018-06-02 06:56] iqbalhood commented on #19
Hallo @mazipan , ini file logo yang tadi di request. Kabarin ya mas kalau sudah masuk Readme.md proyek ini. Makasih 😊
https://drive.google.com/drive/folders/1YlCiuReB640oxg0PKFCCBNiAG5LfIIsy?usp=sharing

[2018-06-02 07:02] mazipan opened #22 "Put new logo in readme and demo"
Related with #19
We will place this new logo in readme and demo page.
Also will revamp the demo page to be more fancy and have same theme color with the logo.

[2018-06-02 07:04] mazipan commented on #19
Siap mas @iqbalhood, nanti bisa di track di issue #22 ya.

[2018-06-02 07:12] iqbalhood commented on #19
Siap @mazipan , Makasih 👍

[2018-06-02 08:26] #22 closed

[2018-06-02 08:27] mazipan commented on #19
Done ya mas @iqbalhood

terima kasih banyak loh...
kapan2 boleh lagi loh 🤣

[2018-06-02 08:27] #19 closed

[2018-06-02 08:29] iqbalhood commented on #19
Oke siap mas @mazipan :)

[2018-06-04 08:52] Sopamo commented on #20
Yep, that fixed it. Thanks a lot!

[2018-06-04 08:52] #20 closed

[2018-06-08 06:43] whidy opened #23 "can i use plugin in script"
I know that it can be used in `component` tag, such as
[code]

if I want use it in script, what can I do, for example, it is a wrong example to show what I mean

[code]

[2018-06-08 07:05] mazipan commented on #23
do you have try this `this.$options.filters. currency(this.b)` ?

[2018-06-08 07:51] #23 closed

[2018-06-08 07:53] whidy commented on #23
@mazipan
oh i am newbie about vue,
thanks a lot😘

[2018-07-19 08:09] mahmoud-HB commented on #17
up

[2018-09-12 02:31] sunhengzhe opened #24 "Support pass parameters with object"
Hi,
The filter is very useful for us, but we get a problem when we need add configuration in specific place.
We just want to change one or two configs but not affect others , for your example and source code, we need pass all parameters one by one, like `{{ money | currency(undefined, undefined, 2)}}`.
It's so ugly and verbose, so maybe we can just pass a config which will be merged to default con

[2018-09-12 06:02] #24 closed

[2018-09-25 07:30] mazipan commented on #17
###

[2018-09-25 07:30] #17 closed

[2018-09-26 12:39] Uelb opened #26 "Thousand separator to &nbsp;"
When someone displays a currency number, usually, the space should be a \&nbsp; so that the number is not breaked in the middle and unreadable. How would you implement such a feature, through a special option value or just convert the spaces passed in the option to \&nbsp;

[2018-09-26 14:06] mazipan commented on #26
Just pass `space` in thousandsSeparator options or parameters.
See demo page.

[2018-09-26 14:33] Uelb commented on #26
Sorry, my html code got converted, please re read my comment

[2018-09-26 18:45] mazipan commented on #26
Can you give me sample or screenshot how empty space was unreadable in your HTML?
So I need to convert space to `&nbsp;`?

[2018-09-26 19:02] mazipan commented on #26
Actually, this is not possible for now.
Because `filter` is only doing *value transformation* but not handle how those value is displayed.

Let's say I will give you string with `&nbsp;` as separator, still you can't display it as HTML unless you put in `v-html` attribute.

So, proper solution if you want `&nbsp;` as your separator is you pass `thousandSeparator` with `&nbsp;` string then you disp

[2018-09-27 08:12] Uelb commented on #26
That actually is a good enough solution ! Thank you very much for taking the time to help me.
It's a bit annoying because I can't do it in the default config but I guess it's the only way with the current version of vue

[2018-09-27 08:12] #26 closed

[2018-09-27 08:16] Uelb commented on #26
FYI, you made a typo, it's thousandsSeparator and not thousandSeparator, may be good to change it for future readers

[2018-10-01 07:03] mazipan commented on #13
I add this methods

[code]

from v3.1.0.

[2018-10-01 07:03] #13 closed

[2018-10-01 09:01] memic84 commented on #13
Nice! Thanks @mazipan

[2018-10-03 09:31] mazipan opened #27 "Add eslint using for .vue and .js files"

[2018-10-03 09:37] kevin0x90 commented on #27
I would like to work on this one.

[2018-10-03 11:49] #27 closed

[2018-10-25 17:43] ismaeladriano opened #29 "how to use function in a method in vue?"
Example:

method : {

getTotals () {

            let totalColletion = this.totalDetails.map((total) => {
                return **total.totaldoc;**
            })
}

}

[2018-10-25 18:12] mazipan commented on #29
See #23

[2018-10-25 18:13] #29 closed

[2018-10-28 02:25] srchulo opened #30 "Ability to define multiple filters with different options"
I have some places in my app where fractionCount is 0, and some where it is 2. However, you can only define settings globally, which basically means I need to do something like this in half of my app:

`{{ money | currency({ fractionCount: 2 }) }}`

It would be really nice if the app supported multiple configurations with different filter names. In the meanwhile, I've done this:

[code]

[2018-10-28 03:45] mazipan commented on #30
I don't think it's common users needed.
We need to identify if it's need by usual users or it just your special case.
If it's special case, I prefer with your workaround creating your own filter base on this library implementation.

No offense ya, because when we accommodate all special case in the library, it will affect to code size that we need to deliver to our user.

I need to keep this libra

[2018-10-28 16:21] #30 closed, assigned to nobody

[2018-11-13 15:01] VIMHaos opened #31 "Current state config of plugin"
How may I get current state config your plugin?

[2018-11-14 03:29] mazipan commented on #31
For now, we can't.
but we will put this into our next improvement.

[2018-11-14 08:45] VIMHaos commented on #31
hi, @mazipan
Yes please, thanks)

[2018-11-14 09:59] mazipan commented on #31
You can update version to 3.2.0 then getting current global configs with

`this.$CurrencyFilter.getConfig()`

[2018-11-14 10:13] VIMHaos commented on #31
Thank you @mazipan ,)
Have a nice day.

[2018-11-14 10:13] #31 closed

[2018-12-11 13:40] Anubarak opened #32 "How to use it without Babel"
Is there a way to use your script without Node/Babel/Webpack and all these things?
I would like to use it but I just use plain ES5, is there a way to integrate your script with vanilla ES5 methods?

[2018-12-19 15:51] Artpan-fe commented on #14
I get exactly the same error, any updates on this one?

[2019-01-17 14:19] danchristian commented on #14
I'm getting this error too. Any updates?

[2019-01-18 08:19] danchristian commented on #14
Just updating with some more information...

Error message when `npm run dev` is run:
[code]

Limits.Vue component:
`{{ amount | currency }}`

nuxt.config.js
[code]

currency.js
[code]

package.json
[code]

[2019-01-18 09:08] mazipan commented on #14
I will try to reproduce @danchristian

[2019-01-18 09:12] mazipan commented on #14
Seems work for me in v3.2.1.
Can you try update @danchristian @Artpan-fe @ndhik

[2019-01-18 09:14] danchristian commented on #14
I just updated to `"vue-currency-filter": "^3.2.1"` and still get that error message unfortunately.

[2019-01-18 09:44] mazipan commented on #14
You can check this reproduce test https://codesandbox.io/s/6xk1mv694n

Maybe you need delete your `node_modules` and .lock files first before updataing version. @danchristian

[2019-01-18 12:41] danchristian commented on #14
@mazipan If I fork that and change the `nuxt.config.js` to have `mode: "universal",` rather than `spa` then I can recreate the error https://codesandbox.io/s/9j33l9pvvr

[2019-01-18 14:21] fluffynuts opened #33 "Current release causes jest to break on "unexpected token""
The full error shows up as:

[code]

Rolling back to 3.2.0 makes this error go away.

[2019-01-21 09:32] danchristian commented on #14
@mazipan In that [sample](https://codesandbox.io/s/6xk1mv694n) you posted, the error still occurs. If you look at the Terminal tab in Codesandbox you can see it:

[code]

[2019-01-22 06:06] mazipan commented on #14
Seems it because we set `ssr` flag as `false`,  after change to `true` errors was gone @danchristian

[2019-03-04 09:17] antonio-valdez-arce opened #34 "While using TypeScript: Could not find a declaration file for module 'vue-currency-filter'"
I get this error while using TypeScript in Vue.

Could not find a declaration file for module 'vue-currency-filter'. '/node_modules/vue-currency-filter/dist/vue-currency-filter.js' implicitly has an 'any' type.
  Try `npm install @types/vue-currency-filter` if it exists or add a new declaration (.d.ts) file containing `declare module 'vue-currency-filter';`

[2019-03-04 09:28] mazipan commented on #34
I am not familiar with TypeScript, but PR are welcome @antonio-valdez-arce

[2019-03-05 08:59] antonio-valdez-arce commented on #34
Hello @mazipan,
I investigated a little, and it turns out it would require some substantial refactoring, for instance, migrating you project to TypeScript, which it wouldn't make sense.

I managed to implement a workaround in my project instead, by following this article:
https://medium.com/@chris_72272/migrating-to-typescript-write-a-declaration-file-for-a-third-party-npm-module-b1f75808ed2

Than

[2019-03-06 12:52] #34 closed

[2019-03-08 15:16] mazipan opened #37 "Add all-contributors"

[2019-03-08 15:17] mazipan commented on #37
@all-contributors please add @mazipan for code

[2019-03-08 15:19] mazipan commented on #37
@all-contributors please add @iqbalhood for design

[2019-03-08 15:23] mazipan commented on #37
@all-contributors please add @sunhengzhe for code

[2019-03-08 15:40] sunhengzhe commented on #37
@mazipan Thank you so much, I just did a little thing :joy:

[2019-03-11 10:53] musman92 opened #41 "can initialize multiple configs"
i need multiple configs, but currently we can use this plugin in one way

Vue.use(VueCurrencyFilter,
  {
    symbol : '$',
    thousandsSeparator: ',',
    fractionCount: 0,
    fractionSeparator: '.',
    symbolPosition: 'front',
    symbolSpacing: false
  })
Vue.use(VueCurrencyFilter,
  {
   name: 'abtestt', // like this
    symbol : '$',
    thousandsSeparator: ',',
    fractionCount: 2,
    fr

[2019-03-11 23:25] mazipan commented on #41
Yes, with current version it's not possible to do multiple instance.
Will try to find solutions for this, but maybe not for very fast response.

PR are very welcome for this issue 👏

[2019-03-12 09:22] mazipan commented on #37
@allcontributors please add @ricardogobbosouza for code

[2019-03-21 07:48] greenkeeper[bot] opened #43 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-03-21 08:25] #43 closed

[2019-03-24 17:38] mazipan commented on #37
@allcontributors please add @dsfx3d for code

[2019-03-25 05:51] mazipan commented on #41
Close in [3.4.0](https://github.com/mazipan/vue-currency-filter/releases/tag/3.4.0)

[2019-03-25 05:51] #41 closed

[2019-03-29 04:37] greenkeeper[bot] opened #47 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-03-30 13:44] #47 closed

[2019-04-16 11:35] ricardogobbosouza opened #52 "npm files pointing incorrectly"
All files are pointing to the min file, this is not correct and it is breaking.
When should it be:

[code]

https://github.com/mazipan/vue-currency-filter/commit/5bc7eabe5fd9c6b78e7f2d3de2eadbc2616550d7

[2019-04-16 14:23] mazipan commented on #52
It's because now we only generate Umd files.

[2019-04-16 17:52] ricardogobbosouza commented on #52
@mazipan
This last version 3.4.1 is with error, mainly in nuxt, the 3.4.0 works perfectly.
From what I've tested, it's the minified file pointed.

[2019-04-16 17:56] ricardogobbosouza commented on #52
[code]

[code]
[code]

[2019-04-22 08:14] gijsroge opened #53 "Incompatible with SSR. Window is not defined."
The current build is not compatible with SSR as the Window object is referenced.

For example, when using it with Nuxt this would trigger an error.

I'll provide a pull request.

[2019-04-22 08:20] #53 closed

[2019-04-22 08:21] mazipan commented on #37
@allcontributors please add @gijsroge for code

[2019-04-22 08:30] gijsroge opened #56 "Any chance you can publish a new release?"
I don't want to sound pushy, but any chance you can publish a new release? Thanks!

[2019-04-22 08:34] mazipan commented on #56
Published in `3.4.2`

[2019-04-22 08:35] mazipan commented on #56
Help me to test ya @gijsroge

[2019-04-22 08:45] gijsroge commented on #56
@mazipan works perfect! Thanks for the lightning fast responses 💯

[2019-04-22 08:45] #56 closed

[2019-04-22 08:50] gijsroge commented on #52
@ricardogobbosouza could you try again with the latest version? I have a feeling you ran into the same issue as #53.

Also i suggest you follow the readme for Nuxt usage. https://github.com/mazipan/vue-currency-filter#usage-in-nuxtjs

[2019-04-22 09:34] mazipan commented on #56
Thanks also for your help.

[2019-04-22 09:36] mazipan commented on #52
Follow this guide for Nuxt usage: https://github.com/mazipan/vue-currency-filter#usage-in-nuxtjs

[2019-05-10 13:00] cedriccouret opened #59 "Show decimals only when necessary"
Hi,

would it be possible to show decimals only when needed? For example I want to display 1234,45$ but not 1234,00$. This one should be 1234$. I'd like to strip insignificant zeros.

Thanks.

[2019-05-10 13:15] mazipan commented on #59
This is not common needed, because in term of currency we usually show fixed fraction count.
But maybe we can introduce new config for this needed.

You can also open pull request, if you think you can update the code by your self.
I will update when I have free time, today is weekend in Indonesia so I will slow response for this

[2019-05-10 13:23] cedriccouret commented on #59
Thanks for your answer.

I managed to fix my issue by doing a simple String.replace with a regex. But integrating such a feature in your package would require to take a look at the bigger picture to make it work with a multiple locales (some use dots and other use commas). I won't have time for this but maybe someone in the community will.

Thanks again.

[2019-05-13 14:54] Youhan opened #60 "How to style symbol differently?"
Hi, I want to have a different `font-size` on the symbol and floating digits.
I am assuming to get this

`<span>$</span><span>999</span><span>.88</span>`
![image](https://user-images.githubusercontent.com/2191898/57631590-62b9c800-7565-11e9-837a-71063551b467.png)

Is this possible?

[2019-05-14 03:48] mazipan commented on #60
For now, we can't do it.
Or maybe you can't do with static tag.

[code]

[2019-05-15 16:32] Youhan commented on #60
Thanks.
Could we have that as a feature request?

[2019-05-16 02:56] mazipan commented on #60
I don't think it can be implement in this library because this library stand for `filter` only.
The filter can not return HTML, it only for formatting string.

[2019-07-14 19:56] alfonsobries opened #69 "Proposal: include a helper to the filter outside the template"
This is possible by using the filters but will be nice to have helper to use directly in the scripts:

[code]

BTW I can do it and made the PR, but do you like the idea?

[2019-07-17 14:30] greenkeeper[bot] opened #71 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.36.0` to `4.36.1`.

🚨 [View failing branch](https://github.com/mazipan/vue-currency-filter/compare/master...mazipan:greenkeeper%2Fwebpack-4.36.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project

[2019-08-26 08:27] DavidRouyer commented on #34
TypeScript doesn't require any migration at all.
You just have to write a [TypeScript definition file](https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html), put it in a **types** folder at the root of the repository and declare it in the **package.json** file.
You can take a look at the Vue.js repository: https://github.com/vuejs/vue/blob/dev/package.json#L9

[2019-09-01 13:07] mazipan commented on #34
PR are always welcome

[2019-09-01 13:10] #52 closed

[2019-09-01 13:12] #60 closed

[2019-09-02 09:21] #71 closed

[2019-09-19 15:23] greenkeeper[bot] opened #81 "An in-range update of webpack-serve is breaking the build 🚨"
## The devDependency [webpack-serve](https://github.com/shellscape/webpack-serve) was updated from `3.1.1` to `3.2.0`.

🚨 [View failing branch](https://github.com/mazipan/vue-currency-filter/compare/master...mazipan:greenkeeper%2Fwebpack-serve-3.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack-serve is a devDe

[2019-10-15 20:28] uptownhr opened #83 "currency filter not applying decimal from server"
Recently upgraded from version 3.2.3 to 3.4.3 and the currency filter is not applying the thousands symbol anymore. I verified on the frontend works great but for some reason will not apply the thousands when ran from node.

failing test
[code]

render method
[code]

[2019-12-23 22:03] nomadme opened #141 "Integer formatting"
It seems like missing integer formatting.

I am not able to do a very simple conversion.
[code]

[2019-12-28 00:00] mazipan opened #144 "Bundlesize increase too much after TS"
https://bundlephobia.com/result?p=vue-currency-filter@4.0.2

[2019-12-30 03:40] mazipan commented on #144
Fix on https://bundlephobia.com/result?p=vue-currency-filter@4.0.3
Seems 4.0.2 is polluted by Babel

[2019-12-30 03:40] #144 closed

[2020-01-14 06:34] G33kNoob opened #166 "how to use vuecurrency filter tool to build simple to.Fixed(10) ?"
how to use this tool to build simple to.Fixed(10) ?

[2020-01-20 11:25] #81 closed

[2020-03-29 10:21] carrera opened #190 "Non decimal suffix option"
Currently in the module it shows 49,00 but it would be nice if there was an option so it could show 49,- since this is the way its shown in euro's

[2020-03-30 04:48] mazipan commented on #190
@carrera, you can pass config:

[code]

[2020-03-30 06:10] carrera commented on #190
Yeah but the thing with that is only with round numbers it is € 49,- while with non round numbers it is € 49,50

[2020-03-30 07:48] mazipan commented on #190
Just set fraction to 2 if you want have a fraction.

[2020-03-30 07:49] carrera commented on #190
Okay but where is the currency symbol with this config

[2020-03-30 07:49] mazipan commented on #190
Pull requests are welcome if you think you need additional parameter to solve your case.

[2020-03-30 07:49] carrera commented on #190
Okay i'll look into it

[2020-04-01 13:08] mazipan opened #191 "Adopt tsdx"
Try to adopt tsdx as a development tools

[2020-04-01 13:09] mazipan opened #192 "IIFE build is breaking"
This issue made us can not use unpkg again.

[2020-04-06 01:06] benjaminwy commented on #59
In case it saves anybody 5 minutes, here's a little filter I wrote that handles my use case:

[code]
Usage: `{{ value | currency | stripZeros }}`

[2020-04-08 03:04] mazipan commented on #192
Close on 5.0.1

[2020-04-08 03:04] #192 closed

[2020-04-08 03:05] mazipan commented on #191
Close on 5.0.0 with pnpm and microbundle

[2020-04-08 03:05] #191 closed

[2020-04-10 06:19] brentonmcs opened #194 "Type file missing after pnpm migration"
Hey,

It looks like the type file was removed out of the build when you migrated across to pnpm

[2020-04-10 09:24] mazipan commented on #194
Typings is already generated, I think missed to put in the package.json.
Can you try in version `5.0.2` @brentonmcs ?

[2020-04-11 03:06] brentonmcs commented on #194
All good now with 5.0.2

[2020-04-11 03:06] #194 closed

[2020-05-07 18:46] mazipan commented on #37
@allcontributors please add @SysaIvan for code

[2020-05-08 13:38] alitecsolucoes opened #197 "Can't use multiple instances in global mode"
in main.js

[code]

in views

[code]

give me an error

`vue.runtime.esm.js?2b0e:619 [Vue warn]: Failed to resolve filter: valor`

and if I put the **[ ]** in

[code]
I give no errors at all but both filters stop works

[2020-05-08 14:18] mazipan commented on #197
I haven't release for multiple instances.
The code is already in master but not release yet on npm.

[2020-05-13 07:25] mazipan commented on #197
Released on 5.1.0

[2020-05-13 07:25] #197 closed

[2020-05-13 11:55] gelambert opened #198 "How to use non-breaking spaces ?"
I would like to use non-breaking spaces (`&nbsp;` in HTML) to format a price (for example 1 337,00 €).

I can inject it using `thousandsSeparator`.

However, it is not possible for the space before the symbol.
Could you add a parameter called `symbolSeparator` to make it possible ?

[2020-05-13 13:36] mazipan commented on #198
So what string do you want to achieve?
Is this `337,00 €`?
Also how you achieve this for now?

`symbolSeparator` is not common from my perspective.

[2020-05-13 15:39] gelambert commented on #198
@mazipan ,

I want to achieve `1&nbsp;337,00&nbsp;€` instead of `1 337,00 €`.

I am using CSS (`white-space: nowrap`) but it would be easier for me to handle it with Vue Currency Filter !

---

I want the amount to continue on the same line.
For example :

- with breaking spaces

![image](https://user-images.githubusercontent.com/13656633/81833417-f5f25880-953f-11ea-83c7-5687779d164f.png)

- with

[2020-05-13 16:02] mazipan commented on #198
Actually you can achieve this with adding one layer filter after `vue-currency-filter`.
This is better solution if you prefer modify the value instead of using CSS.

Example create a simple global filter:

[code]

Example create local filter inside component:

[code]

Usage: 

[code]

[2020-05-13 19:15] alitecsolucoes commented on #197
thanks man

[2020-05-14 07:51] gelambert commented on #198
This a nice workaround.
However, it will render `&nbsp;` as text so I would use a Unicode :
[code]

---

It is acceptable but I think it's tedious to use two filters to display correctly (imho) a price.
So I decided to override the currency filter using this way :
[code]

The downside is that this is not the most maintainable solution but I'll stick with it for the moment.

---

I don't know if yo

[2020-05-14 07:51] #198 closed

[2020-05-27 14:57] iggyvanlith commented on #69
You can achieve this by doing:
[code]

[2020-05-27 15:39] iggyvanlith commented on #31
Would be nice to have these in the docs. This seems to be needed (the `setConfig()`) to have the currency update instantly when a user changes his currency settings.

[2020-05-27 17:20] mazipan commented on #31
Ah, I already dropping this feature.
Since it's hard to achieve consistency from my latest approach.
Maybe need another perspective to solve this problem.

[2020-06-28 11:42] UsmanJavedAttari opened #199 "Why this.$CurrencyFilter is removed?"
I updated from 5.0.1 => 5.1.0, now `this.$CurrencyFilter` is undefined. Is there any other way to access it??

[2020-06-28 11:52] UsmanJavedAttari commented on #199
After some investigation found by console logging that `$CurrencyFilter` is replaced with `$currency`, but it was never mentioned in docs.

[2020-06-28 11:52] #199 closed

[2020-07-30 05:09] muniraj65 opened #200 "Negative values, want to show in brackets"
Let's say, I have a currency value in negative such as -$200.00, I want to show the negative in brackets such as ($200)
The required output is for the negative value is negative :  ($200)

[2020-08-02 02:56] Soviut opened #201 "Nuxt implementation not allowing multiple configurations"
I'm using vue-currency-filter in Nuxt and wanted to have two configurations; The default to show dollars and cents, and another to show just dollars.

However, using the configuration example in the README for multiple configs did not seem to register the filters correctly.

A simplified version of my **nuxt.config.js**

[code]

[code]
Yielded a value of `1.000`, meaning it was using the default c

[2020-08-02 08:40] mazipan commented on #201
cc: @SysaIvan

[2020-08-02 18:42] jacobgraf opened #202 "Way to show $ before and CAD after for Canadian dollar?"
I need to have our US Dollars formatted like this `$8.00` which works great, but for Canadian, we need them formatted like this `$8.00 CAD` but are not finding an easy way to accomplish this with this filter. Am I missing something?

Thanks!

[2020-08-04 02:43] mazipan commented on #201
Kindly help to check @Soviut , already fix by @SysaIvan

[2020-08-04 02:46] #141 closed

[2020-08-04 02:48] mazipan commented on #202
You can extend or create your own filter, e.g:

[code]

Usage: {{ value | currency | canadian }}

[2020-08-11 10:14] Mweydert commented on #59
If this helps, I modify function of @benjaminwy using a regex to have something a bit more generic.
Especially to support input values that includes currency symbol.
[code]

[2020-08-12 23:57] DArrigoni opened #205 "Feature Request: Add function to preprocess amount"
My project uses a lot of dollar amounts but they are all stored on the server as "in cents." ie. $10.00 would be stored as 1000.

Currently, I have to pass these amounts through two filters, one to convert the amount from "in cents" to "in dollars" before passing it into the currency filter. It would be nice to be able to provide the currency filter config a function to do this.

Example:
[code]

[2020-08-13 10:59] mazipan commented on #205
Can you help to check the code? Maybe you can build it for your needs.
I think it's good addition.

[2020-09-05 21:09] dsfx3d commented on #205
@mazipan Is this feature still open for a PR?

[2020-09-06 14:46] dsfx3d commented on #205
The project has great utility for some use cases but we need to work on the code quality as well to maintain a good developer experience for all potential contributors.
Should I make a PR with a linting set up first?
There are lint errors in almost all modules.

[2020-09-06 15:54] mazipan commented on #205
Yes sure

[2020-09-22 07:23] #59 closed

[2020-09-22 13:50] niccord commented on #190
You can achieve what you ask by using version `5.2.0` passing `avoidEmptyDecimals: '-'` in the config object.

[2020-09-22 13:55] #190 closed

[2020-09-22 23:11] Jozaguts commented on #14
my environment
 Nuxt.js @ v2.14.6
I change
 { src: '~/plugins/currency', ssr: true } <--change to true
and everything works

[2020-09-23 08:53] dsfx3d opened #209 "Code Quality: Improve linting"
In the project, we are using local linting configurations for each package.

1. `eslint` in _demo_
2. `standardx` in _vue-currency-filter_

This heterogeneous structure doesn't feel right.

Would it make sense if instead of linting at the package level we configure linting at the global level?

**Proposal**

Let's configure ESLint at the global level so that all packages follow the same linting st

[2020-09-23 08:56] dsfx3d commented on #209
I'm ready to make a PR for this. I mentioned this change in the comments of #205 but I wasn't able to find time to work on it because of work.

[2020-09-23 09:22] mazipan commented on #209
Just update the linter to the root at https://github.com/mazipan/vue-currency-filter/commit/6756bdb87a2fed2225679e27cd964c0685b06783

[2020-09-23 09:31] dsfx3d commented on #209
@mazipan can you also add prettier?

[2020-09-23 10:07] mazipan commented on #209
Hmmm, lemme check

[2020-09-23 10:20] mazipan commented on #209
Add here https://github.com/mazipan/vue-currency-filter/commit/a99ee81f53c2687e4964e60fe836977682ade0e1

[2020-09-25 02:20] #209 closed

[2020-11-18 08:30] ozziest opened #210 "🚀 Feature Request - Missing changelog"
I couldn't see any changelog for this package. Currently, I am using `1.9.0` version of this package and I see that there is a new package but I have no idea what has been changed. Having a changelog can be very good.

[2020-11-19 10:59] mazipan commented on #210
It's on the release page: https://github.com/mazipan/vue-currency-filter/releases

[2020-11-19 11:22] #210 closed

[2021-02-05 02:43] kissu commented on #205
Any news on this one ? 🤗

[2021-06-17 02:47] nelson6e65 opened #211 "[🚀 Feature Request] - Vue 3 support"
**A brief description about the feature request**

Filters were removed in Vue 3, but there is an approach for using [globalProperties](https://v3.vuejs.org/api/application-config.html#globalproperties) as $filters:

https://v3.vuejs.org/guide/migration/filters.html#_3-x-update

[2021-06-17 02:49] nelson6e65 commented on #166
Looking this for a Vue 3 application (#211).

@G33kNoob Did you found a way?

[2021-06-17 02:50] nelson6e65 commented on #69
Oh, thanks! This can be done to support Vue 3 (#211).

[2021-10-25 16:57] gabriellatavares commented on #211
Any news? 🥺